*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  -webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background-color 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background-color 300ms ease-in-out, transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

html,
body {
  display: block;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merienda", cursive;
  font-size: 12px;
  line-height: 1.4em;
  background-color: #10191f;
}
@media only screen and (min-width: 520px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 760px) {
  body {
    font-size: 18px;
  }
}
body:before, body:after {
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
body:before {
  background-position: center bottom;
  background-size: 100%;
}

#particle-canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.player-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.player-wrap .player-container {
  max-width: 760px;
  margin: 0 auto;
  padding-bottom: 2em;
  color: seashell;
}
.player-wrap .player-title {
  font-size: 200%;
  margin-bottom: 0.8em;
}
.player-wrap .player-info {
  font-size: 120%;
  margin-bottom: 1em;
  opacity: 0.6;
}
.player-wrap .player-track {
  margin-bottom: 1.5em;
}
.player-wrap .player-track > b {
  display: inline-block;
  margin-right: 0.5em;
  opacity: 0.5;
}
.player-wrap .player-track > .error {
  color: red;
}
.player-wrap .player-toggle {
  display: block;
  margin: 0 auto;
  font: inherit;
  padding: 1em 2em;
  line-height: 1em;
  white-space: nowrap;
  color: black;
  font-weight: bold;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}
.player-wrap .player-toggle[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.player-wrap .player-toggle:hover {
  background-color: white;
}

.u-imgResponsive {
  max-width: 100%;
}

.modal-icon {
  margin-top: -62px;
  display: block;
  max-width: 300px;
  margin-bottom: -20px;
}


