<!DOCTYPE html>
{% extends 'master.html' %}

<!-- titile -->
{% block title %} All Movies {% endblock %}

{% block content %}

<div class="bg-pattern2">
  <div class="container pb-5">
        <h1 class="text-center pt-3 pb-3">All Movies</h1>
    <div class="row row-cols-1 row-cols-md-3">
      {% for i in get_all_movies %}
      <div class="col-6 col-md-3 mb-4">
    <div class="card-deck">
      <div class="card">
        <!-- <div class="card-body">movie_postemovie_posterr
            <h5 class="card-title"></h5>
          </div> -->
        <a href="{% url 'videosub:movies-detail' i.movie_id %}" ><img src="{{i.movie_bgimage.url}}" class="card-img-top" alt="..."></a>
        
        <div class="card-body p-0 pt-2" style="background-color: transparent !important;">
            <a href="{% url 'videosub:movies-detail' i.movie_id %}" class="nav-link"><h6 class="mb-0">{{ i.movie_name |upper }}</h6></a>
            <p href="" class="nav-link mb-0">User: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{i.rating|stringformat:"f"|slice:"0:4"}}/10</p>
            <div class="nav">
                <a href="{% url 'videosub:catagory_list' i.sub_catagory.sub_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{i.sub_catagory|upper }}</a>    
                <a href="{% url 'videosub:movies_catagory_movie' i.type_catagory1.type_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{i.type_catagory1|upper }}</a>
            </div>
            
        </div>
      </div>
      
    </div>
    </div>
    {% endfor %}
    </div>


    {% if get_all_movies.has_other_pages %}
    <nav aria-label="Page navigation example">
    <ul class="pagination border" style="border-radius: 0px !important;">
        {% if get_all_movies.has_previous %}
        <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ get_all_movies.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled p-2 border-right"><span>&laquo;</span></li>
        {% endif %}
        {% for i in get_all_movies.paginator.page_range %}
        {% if get_all_movies.number == i %}
            <li class="page-item active p-2 border-right"><span class="box" style="color: #f82249;">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if get_all_movies.has_next %}
        <li class="page-item p-2"><a class="page-link m-0" href="?page={{ get_all_movies.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled p-2 "><span>&raquo;</span></li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}

    </div>
    </div>
    
    {% endblock %}
