<!DOCTYPE html>
{% extends 'master.html' %}

<!-- titile -->
{% block title %} Category List {% endblock %}


{% block css %}

<style>
  div.menu{
  
    margin: 5% 10%;
    background: transparent;
 }
 
 .menu a,#showall,.active-all{
    display:inline-block;
    margin:0 1%;
    padding:2%;
    -webkit-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.2);
 }
.showSingle{
  background-color: #000000;
  color: #ffffff;
}
.showSingle:hover{
  background-color: #f82249;
  color: #000000;
  transition: 0.5s ease-in-out;
}
 .active-all{
   background-color: #f82249;
   color: #000000 !important;
 }

 
 .cnt{
    margin: 5% 10%;
    background: transparent;
 }
</style>

{% endblock css %}

{% block content %}

<div class="bg-pattern2">
  {% for j in get_sub_cat %}
    <h1 class="text-center pt-3">{{j.sub_catagory}}</h1>
  {% endfor %}

   <div class="container">
    <center><div class="menu">
      
    {% for i in get_type_data %}
      <a href="{% url 'videosub:movies_catagory_movie' i.type_id %}" class="showSingle mb-3">{{ i.type_catagory }}</a>
    {% endfor %}
    </div></center>


    <center><a  class="active-all mb-5" id="showall">All</a></center>


    <div class="row row-cols-1 row-cols-md-3">
    {% if get_main_cat  ==  3 %}
      {% for i in get_movie_list %}
      <div class="col-6 col-md-3 mb-4">
      <div class="card-deck">
          <div class="card">
            <a href="{% url 'videosub:movies-detail' i.movie_id %}"><img src="{{i.movie_bgimage.url}}" class="card-img-top" alt="..."></a>
        <div class="card-body p-0 pt-2 border-0" style="background-color: transparent !important;">
          <a href="{% url 'videosub:movies-detail' i.movie_id %}" class="nav-link"><h6 class="mb-0">{{ i.movie_name |upper }}</h6></a>
          <p href="" class="nav-link mb-0 ">User: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{i.rating}}/10</p>
              <div class="nav">
                  <a href="{% url 'videosub:catagory_list' i.sub_catagory.sub_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{i.sub_catagory|upper }}</a>    
                  <a href="{% url 'videosub:movies_catagory_movie' i.type_catagory1.type_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{i.type_catagory1|upper }}</a>
              </div>
        </div>
      </div>
    </div>
    
  </div>
  {% endfor %}




      {% else %}
      {% if get_main_cat  ==  5 %}
  {% for j in get_webseries_list %}
<div class="col-6 col-md-3 mb-4">
  <div class="card-deck">
  
    <div class="card">
      <a href="{% url 'videosub:webseries-detail' j.webseries_id %}"><img src="{{j.webseries_bgimage.url}}" class="card-img-top" alt="..."> </a>
  <div class="card-body p-0 pt-2" style="background-color: transparent !important;">
    <a href="{% url 'videosub:webseries-detail' j.webseries_id %}" class="nav-link"><h6 class="mb-0">{{ j.webseries_name |upper }}</h6></a>
    <p href="" class="nav-link mb-0">User: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{j.rating}}/10</p>   
        <div class="nav">
            <a href="{% url 'videosub:catagory_list' j.sub_catagory.sub_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{j.sub_catagory|upper }}</a>    
            <a href="{% url 'videosub:movies_catagory_movie' j.type_catagory.type_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{j.type_catagory|upper }}</a>
        </div>
  </div>
</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endif %}
  </div>

  {% if get_movie_list.has_other_pages %}
  <nav aria-label="Page navigation example">
  <ul class="pagination border" style="border-radius: 0px !important;">
      {% if get_movie_list.has_previous %}
      <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ get_movie_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled p-2 border-right"><span>&laquo;</span></li>
      {% endif %}
      {% for i in get_movie_list.paginator.page_range %}
      {% if get_movie_list.number == i %}
          <li class="page-item active p-2 border-right"><span class="box" style="color: #f82249;">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
          <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if get_movie_list.has_next %}
      <li class="page-item p-2"><a class="page-link m-0" href="?page={{ get_movie_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled p-2 "><span>&raquo;</span></li>
      {% endif %}
  </ul>
  </nav>
{% endif %}


{% if get_webseries_list.has_other_pages %}
  <nav aria-label="Page navigation example">
  <ul class="pagination border" style="border-radius: 0px !important;">
      {% if get_webseries_list.has_previous %}
      <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ get_webseries_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled p-2 border-right"><span>&laquo;</span></li>
      {% endif %}
      {% for i in get_webseries_list.paginator.page_range %}
      {% if get_webseries_list.number == i %}
          <li class="page-item active p-2 border-right"><span class="box" style="color: #f82249;">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
          <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if get_webseries_list.has_next %}
      <li class="page-item p-2"><a class="page-link m-0" href="?page={{ get_webseries_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled p-2 "><span>&raquo;</span></li>
      {% endif %}
  </ul>
  </nav>
{% endif %}

  </div>
</div>
    
    {% endblock %}
    
    
    {% block js %}

    <script>
      jQuery(function(){
        jQuery('#showall').click(function(){
              jQuery('.targetDiv').show();
       });
       jQuery('.showSingle').click(function(){
             jQuery('.targetDiv').hide();
             jQuery('#div'+$(this).attr('target')).show();
       });
});
    </script>
    {% endblock js %}