<!DOCTYPE html>
{% extends 'master.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %} Change Password {% endblock %}

{% block css %}
<style>
    .required{
        color: red;
    }
    .error{
        color:black !important;
        cursor: text;
    }	
</style>
{% endblock css %}

{% block content %}
<div class="container">
<div class="col-12">
    <!-- Contact Form -->
    {% if i == True %}
    <!-- <h4 class="mb-30">Email Send</h4> -->
    <div class="mb-5 text-center">
        <h1> Password change successful&nbsp;<i class="fa fa-check-double" aria-hidden="true"></i></h1>
        <h2> Your Password has been changed&nbsp;<i class="fa fa-lock"></i></h2>

    </div>
    {% else %}
    <h1 class="text-center mb-30">Change Password</h1>
    <div class="contact-form-area mb-50">
        <form action="" method="post" id="change-password">
            {% csrf_token %}
            <div class="row">
                
                <div class="col-12">
                    <input type="password" class="form-control" name="oldpwd" id="oldpwd" placeholder="Old Password*">
                </div>
                <div class="col-12 col-lg-6">
                    <input type="password" class="form-control" name="newpwd" id="newpwd" placeholder="New Password*">
                </div>
                <div class="col-12 col-lg-6">
                    <input type="password" class="form-control"  name="confpwd" id="confpwd" placeholder="Confirm Password*">
                </div>
                <div class="col-12 col-lg-6 mb-2">
                    <ul>
                        <li><p class="mb-0"><i class="fa fa-arrow-right"></i>&nbsp;Your password must contain at least 8 characters.</p></li>
                        <li><p class="mb-0"><i class="fa fa-arrow-right"></i>&nbsp;Your password can’t be a commonly used password.</p></li>
                        <li><p class="mb-0"><i class="fa fa-arrow-right"></i>&nbsp;Your password can’t be entirely numeric.</p></li>
                    </ul>
                </div>
                <div class="col-12">
                    <button class="btn egames-btn w-100" type="submit">Change Password</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if message.tags%}
    <script type="text/javascript">
        alert('{{ message }}');
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script>
    $().ready(function() {
        // validate signup form on keyup and submit
        $("#change-password").validate({
            rules: {
                oldpwd:"required",
                oldpwd: {
                    required: true,
                },
                newpwd: {
                    required: true,
                    minlength: 8
                },
                confpwd: {
                    required: true,
                    minlength: 8,
                    equalTo: "#newpwd"
                },
            },
            messages: {
                oldpwd: {
                    required: "Please enter a old password",
                },
                newpwd: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 8 characters long",
                },
                confpwd: {
                    required: "Please provide a confirm password",
                    minlength: "Your password must be at least 8 characters long",
                    equalTo: "Please enter the same password"
                },
            }
        });
    });
    </script>
{% endblock js %}