<!DOCTYPE html>
{% extends 'master.html' %}

{% load static %}
<!-- titile -->
{% block title %} Movie-Detail {% endblock %}
{% block css %}
<style>
  .watchlist{
    display: block;
    width: 160px;
    height: 42px;
    background-color: #f82249;
    text-align: center;
    color: #fff;
    line-height: 42px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 700;
    border: 0px;
    cursor: pointer;
  }
    @media only screen and (max-width: 767px) {
      .watchlist{
        width: 30px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .watchlist{
        width: 50px; } }
        .watchlist:hover, .watchlist:focus {
      background-color: #000000;
      font-weight: 400; 
      transition: ease 0.5s;
    }
      .watchlist i {
      display: none;
      line-height: 42px; }
      @media only screen and (max-width: 767px) {
        .watchlist i {
          display: block; } }
    @media only screen and (max-width: 767px) {
      .watchlist span {
        display: none; } }


      .image--cover {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: top right;
        border: 5px #f82249;
        border-style: ridge;
      }
    .cast{
        color: #000000;
    }  

    .cast:hover{
        color: #f82249;
        transition: ease 0.5s;
    }

    .modal-backdrop{
        z-index: 1 !important;
    }

    .overlay-div{
        height:100%;
        width: 100%;
        position:absolute;
        background-color:#000;
        opacity:.6;
    }
    .card{
      border-radius: 0px !important;
    }
 
    a.edit-profile-sidebar,button.edit-profile-sidebar{
      color: #ffffff;
      background: #f82249;
      border-color: #f82249;
      text-align: center;
      z-index: 8;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1;
      padding: 5px 8px;
      border-bottom-left-radius: 5px;
      font-size: 13px;
      color: #fff;
      box-shadow: 0 2px 14px rgba(0,0,0,.25)
    }
  
    button.edit-profile-sidebar{
      border: 0px;
      cursor: pointer;
    }

    .nav-tabs .nav-link{
      font-size: 17px !important;
      font-weight: 700 !important;
      padding-left: 20px !important;
      padding-top: 13px !important;
      padding-bottom: 13px !important;
      padding-right: 20px !important;
      border-radius: 0px !important;
      }
    
     .nav-tabs .nav-link.active {
      padding-left: 20px !important;
      padding-top: 13px !important;
      padding-bottom: 13px !important;
      padding-right: 20px !important;
      font-size: 17px !important;
      font-weight: 700 !important;
      background-color: #f82249 !important;
      color: white !important; 
      border-radius: 0px !important;
    }
      

</style>
{% endblock css %}

    {% block content %}

    <div class=" bg-pattern2">
    <div class="single-slide bg-img bg-overlay movie-detail " style="background-image: url('{{get_movie_detail.movie_bgimage.url }}'); height: 550px;">
        <!-- Blog Content -->
        <!-- <div class="container h-100"> -->
            <div class="row h-100 text-left ml-3 mr-3">
                <div class="col-xl mt-5">
                    <div class="blog-content p-4">
                        <h3 class="text-white">{{get_movie_detail.movie_name|upper}}</h3>
                        <p>Duration: {{get_movie_detail.duration_hours}} Hrs {{get_movie_detail.duration_minutes}} Mins</p>
                        <p>Release Date: {{get_movie_detail.release_date}}</p>
                        <p>Language: {{get_movie_detail.language}}</p>
                        <p>Description: {{get_movie_detail.description |slice:"0:200"}}... <a target="blank" style="color: #f82249; font-size: small" href="{{get_movie_detail.more_info}}">Know More About {{get_movie_detail.movie_name|upper}}</a></p>
                        <p>Category: {{ get_movie_detail.main_catagory }} | {{ get_movie_detail.sub_catagory }} | {{ get_movie_detail.type_catagory1 }}</p>
                        {% for key,value in all_review.items %}
                            <p>Avg Ratings: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{value}}/10</p>                
                        {% endfor %}

                        {% if get_member %}
                            {% for i in get_member %}
                                <p>Your Ratings: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{i.rating}}/10 <a class="text-white"  style="font-size: small" href="" data-toggle="modal" data-target="#editreview">Edit</a></p><br>
                                   
                                <!-- Modal -->
                              <form action="{% url 'videosub:edit_review' i.movie.movie_id%}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                              <div class="modal fade" id="editreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Reviews & Ratings</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="contact-form-area">
                                        
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                  <input type="text" name="review" class="form-control" id="exampleInputEmail1" value="{{i.comment}}" placeholder="Give Reviews">
                                                </div>
                                                <div class="col-12">
                                                  <input type="text" name="rating" class="form-control" id="exampleInputPassword1" value="{{i.rating}}" placeholder="Give Ratings">
                                                  <input type="hidden" name="review_id" class="form-control" id="hiidenid" value="{{i.movie_review_id}}">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                  <button class="btn egames-btn w-100" data-dismiss="modal">Close</button>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                  <button class="btn egames-btn w-100" type="submit">Edit</button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            {% endfor %}
                        {% else %}
                            <a href="" data-toggle="modal" data-target="#addreview">
                                <p class="text-white">Your Ratings: Write Reviews & Ratings&nbsp;<i class="fa fa-star" style="color: gold;"></i></p>
                              </a>
                              
                              <!-- Modal -->
                              <form action="" method="POST" id="reviewadd" enctype="multipart/form-data">
                                {% csrf_token %}
                              <div class="modal fade" id="addreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle1">Reviews & Ratings</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="contact-form-area">
                                        
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                              <input type="text" name="review" class="form-control" id="review" placeholder="Give Reviews">
                                            </div>
                                            <div class="col-12">
                                              <input type="text" name="rating" class="form-control" id="rating"  placeholder="Give Ratings">
                                            </div>
                                            <div class="col-12 col-lg-6 mb-3">
                                              <button class="btn egames-btn w-100" data-dismiss="modal">Close</button>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                              <button class="btn egames-btn w-100" type="submit">Add</button>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>                    
                        {% endif %}   
                        
                        <div class="button-css nav mt-2">
                            {% if get_member_watchlist %}
                              <a href="{% url 'videosub:profile' %}" data-animation="fadeInUp" data-delay="700ms" data-toggle="tooltip" data-placement="top" title="GotoWatchList" ><span>&nbsp;Goto WatchList <i class="fa fa-paper-plane"></i></span> <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                            {% else %}
                            <form action="{% url 'videosub:watchlist' get_movie_detail.movie_id %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <button data-animation="fadeInUp" data-delay="700ms"  class="watchlist" type="submit" data-toggle="tooltip" data-placement="top" title="AddWacthList" ><span>&nbsp;Add MyWatchList + </span> <i class="fa fa-list" aria-hidden="true"></i></button>
                          </form>
                          {% endif %}
                        </div>
                    </div>
                </div>
                
                
                    <div class="col-xl mt-5 mb-5 video-player">
                    <main>
                        <div id="container">
                            <video
                                controls
                                crossorigin
                                playsinline
                                poster="{{get_movie_detail.movie_trailer_thumbnail.url}}"
                                id="player"
                            >
                                <!-- Video files -->
                                <!-- <source
                                    src="{{get_movie_detail.movie_trailer_576p.url}}"
                                    type="video/mp4"
                                    size="576"
                                /> -->
                                <source
                                    src="{{get_movie_detail.movie_trailer_720p.url}}"
                                    type="video/mp4"
                                    size="720"
                                />
                                <!-- <source
                                    src="{{get_movie_detail.movie_trailer_1080p.url}}"
                                    type="video/mp4"
                                    size="1080"
                                /> -->
        
                                <!-- Caption files -->
                                <!-- <track
                                    kind="captions"
                                    label="English"
                                    srclang="en"
                                    src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                                    default
                                />
                                <track
                                    kind="captions"
                                    label="Français"
                                    srclang="fr"
                                    src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"
                                /> -->
                            </video>
                        </div>
                    </main>
                    </div>
            </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-8">
                <h1 class="">{{get_movie_detail.movie_name|upper}}</h1> 
                <p>{{get_movie_detail.release_date}} | 
                    {% for key,value in all_review.items %}
                    Ratings:<i class="fa fa-star" style="color: gold;"></i>&nbsp;{{ value}}/10
                    {% endfor %} | {{get_movie_detail.language}}</p>
 
                <!-- <p class="justify-content-center">{{get_movie_detail.description}} <a target="blank" style="color: #f82249; font-size: medium;" href="{{get_movie_detail.more_info}}">Know More About {{get_movie_detail.movie_name|upper}}</a></p> -->
                
                <h3>Languages</h3>
                <div class="row mb-3">
                {% for i in get_multiple_movie %}
                <div class="col-12 col-md-4">
                  <div class="card-deck">
                    
                      <div class="card mt-3">
                      <img class="card-img" src="{{i.movie.movie_bgimage.url}}" alt="NETPRIME">
                      <div class="overlay-div"></div>
                      <div class="card-img-overlay justify-content-end">
                        <a class="edit-profile-sidebar text-white"><i class="fa fa-video-camera"></i></a>
                        <a href="{% url 'videosub:movies-show' i.movie.movie_id i.language.language_id %}"><h5 class="card-text text-white mb-0">{{i.movie.movie_name|upper}}</h5>
                        <p class="card-text text-white mb-0">{{i.movie.type_catagory1}} | {{i.language.language}}</p>
                      </a>
                      </div>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
                
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item mr-auto">
                  <a class="nav-link active" id="cast-tab" data-toggle="tab" href="#cast" role="tab" aria-controls="cast" aria-selected="true">Cast</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" id="crew-tab" data-toggle="tab" href="#crew" role="tab" aria-controls="crew" aria-selected="false">Crew</a>
                </li>
              </ul>
              <div class="tab-content mb-3" id="myTabContent">

                <div class="tab-pane fade show active" id="cast" role="tabpanel" aria-labelledby="cast-tab">
                  <div class="row mt-3">
                    {% for cast in get_movie_detail.cast.all %}
                    <div class="col-4 col-md-2">
                        <a target="blank" href="{{cast.more_info}}"><img src="{{cast.cast_profile.url}}" class="image--cover">
                        <center><p class="cast">{{cast.cast_name}}</p></center></a>
                    </div>
                    {% endfor %} 
                  </div>
                </div>
                
                <div class="tab-pane fade" id="crew" role="tabpanel" aria-labelledby="crew-tab">
                  <div class="row mt-3">
                    {% for crew in get_movie_detail.crew.all %}
                    <div class="col-4 col-md-2">
                        <a target="blank" href="{{crew.more_info}}"><img src="{{crew.crew_profile.url}}" class="image--cover">
                        <center><p class="cast">{{crew.crew_name}}</p></center></a>
                    </div>
                    {% endfor %}
                </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 mt-3">
                <h2 class="text-center">Recent Reviews</h2>
                {% for i in get_review1|slice:'0:10' %}
                <div class="single-widget-area video-widget mb-0">
                  <!-- Single Video Widget -->
                  <div class="single-video-widget d-flex">
                      <div class="video-thumbnail">
                          <img src="{{i.member.profile_pic.url}}" alt="" style="height: 83px; width: 83px;">
                      </div>
                      <div class="video-text">
                          <a class="video-title">{{i.member|upper}}</a>
                          <p class="mb-0"><span>{{i.comment}}</span></p>
                          <p class="mb-0"><span>{{i.created_date}}</span></p>
                      </div>
                      <div class="video-rating">{{i.rating}}/10</div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
    <!-- <div class="container mt-3 mb-3"> -->
        <div class="row mt-3">
          <div class="col-12 col-xl-3">
            <h3 class="mb-3">More Reviews</h3>
            {% for i in get_review_detail|slice:'10:' %}
            <div class="single-widget-area video-widget mb-5">
              <!-- Single Video Widget -->
              <div class="single-video-widget d-flex">
                  <div class="video-thumbnail">
                      <img src="{{i.member.profile_pic.url}}" alt="" style="height: 83px; width: 83px;">
                  </div>
                  <div class="video-text">
                      <a class="video-title">{{i.member|upper}}</a>
                      <p class="mb-0"><span>{{i.comment}}</span></p>
                      <p class="mb-0"><span>{{i.created_date}}</span></p>
                  </div>
                  <div class="video-rating">{{i.rating}}/10</div>
              </div>
            </div>
            {% endfor %}
        </div>
        </div>

        {% if get_review_detail.has_other_pages %}
        <nav aria-label="Page navigation example">
        <ul class="pagination border" style="border-radius: 0px !important;">
            {% if get_review_detail.has_previous %}
            <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ get_review_detail.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled p-2 border-right"><span>&laquo;</span></li>
            {% endif %}
            {% for i in get_review_detail.paginator.page_range %}
            {% if get_review_detail.number == i %}
                <li class="page-item active p-2 border-right"><span class="box" style="color: #f82249;">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item p-2 border-right"><a class="page-link m-0" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if get_review_detail.has_next %}
            <li class="page-item p-2"><a class="page-link m-0" href="?page={{ get_review_detail.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled p-2 "><span>&raquo;</span></li>
            {% endif %}
        </ul>
        </nav>
      {% endif %}



        </div>
    <!-- </div> -->
    
    {% if messages %}
    {% for message in messages %}
    {% if message.tags%}
    <script type="text/javascript">
        alert('{{ message }}');
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
    {% endblock %}


{% block js %}
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script>
    $().ready(function() {
        // validate signup form on keyup and submit
        $("#reviewadd").validate({
            rules: {
              review:"required",
              review: {
                    required: true,
                },
              rating:"required",
              rating: {
                  required: true,
              },
            },
            messages: {
              review: {
                    required: "Please enter a review",
                },
                rating: {
                    required: "Please enter a rating",
                },
            }
        });
    });
    </script>
{% endblock js %}
   
