<!DOCTYPE html>
{% extends 'master.html' %}


{% load static %}
<!-- titile -->
{% block title %} Search {% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/404-style.css' %}">
<style>
    .notfound a:hover{
        color: white !important;
        border-color: white !important;
    }
</style>

{% endblock css %}

{% block content %}
    <div class="">
    {% if i %}:
    <div id="notfound" class="bg-pattern" style="height: 63.6vh;">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<h2>File not found</h2>
			</div>
			<a href="{% url 'videosub:home' %}">Homepage</a>
		</div>
    </div>
    {% else %}
    <div class="container mt-5 mb-5">
    <div class="row">
    {% if get_result_movie %}
    {% for m in get_result_movie %}
    <div class="col-12 col-md-3">
        <div class="card-deck mb-5">
      
            <div class="card mb-3">
            <!-- <div class="card-body">movie_postemovie_posterr
                <h5 class="card-title"></h5>
              </div> -->
              <a href="{% url 'videosub:movies-detail' m.movie_id %}"><img src="{{m.movie_bgimage.url}}" class="card-img-top" alt="..."></a>
              <div class="card-body p-0 pt-2" style="background-color: transparent !important;">
              <a href="{% url 'videosub:movies-detail' m.movie_id %}" class="nav-link"><h6 class="mb-0">{{ m.movie_name |upper }}</h6></a>
              <p href="" class="nav-link mb-0">User: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{m.rating}}/10</p>
                  <div class="nav">
                      <a href="{% url 'videosub:catagory_list' m.sub_catagory.sub_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{m.sub_catagory|upper }}</a>    
                      <a href="{% url 'videosub:movies_catagory_movie' m.type_catagory1.type_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{m.type_catagory1|upper }}</a>
                  </div>
          </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% if get_result_webseries %}
    {% for w in get_result_webseries %}
    <div class="col-12 col-md-3">
        <div class="card-deck mb-5">
      
            <div class="card mb-3">
              <a href="{% url 'videosub:webseries-detail' w.webseries_id %}"><img src="{{w.webseries_bgimage.url}}" class="card-img-top" alt="..."></a>
              <div class="card-body p-0 pt-2" style="background-color: transparent !important;">
              <a href="{% url 'videosub:webseries-detail' w.webseries_id %}" class="nav-link"><h6 class="mb-0">{{ w.webseries_name |upper }}</h6></a>
              <p href="" class="nav-link mb-0">User: <i class="fa fa-star" style="color: gold;"></i>&nbsp;{{w.rating}}/10</p>
                  <div class="nav">
                      <a href="{% url 'videosub:catagory_list' w.sub_catagory.sub_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{w.sub_catagory|upper }}</a>    
                      <a href="{% url 'videosub:movies_catagory_movie' w.type_catagory.type_id %}" class="nav-link" style="font-weight: normal; font-size: small; color: #939393;">{{w.type_catagory|upper }}</a>
                  </div>
          </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>
</div>
</div>
  
    

{% endblock %}