<!DOCTYPE html>
{% extends 'start-master.html' %}
{% block title %} NETPRIME {% endblock %}

{% load static %}
{% block content%}
    <!-- ##### Header Area Start ##### -->
    
        
        <!-- <div class="fullscreen-video-wrap">
            <div class="header-overlay"></div>
            <video src="{% static 'videos/bg-videos/startvideo.mp4' %}" autoplay="" loop="" muted="mute">
            </video>
        </div> -->
        <div class="single-slide bg-img movie-detail start-img" style="background-size: cover;" >
        <div class="container h-100 w-100 ">
            <div class="row">
                <div class="col-12 col-md-6 justify-content-start">
                    <h1 class="headline" style="color: #f82249; font-size: 68px; margin-top: 175px;">WELCOME TO NETPRIME.</h1>
                    <h6 class="tag-line">Watch Latest Movie and Webseries and many more.</h6>
                </div>
            </div>
        </div>
    
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-md-6 mt-100 features">
                    <h1>Watch On Any Device</h1>
                    <hr class="my-4" style="border-top-width: 7px; border-color: #f82249;">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing nula 
                        pellentesquemagna a convallis nula facilisi. Praesent consequat 
                        eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis 
                        sapien dolor ipsum consequat ellit tristique senectus</p>
                </div>
                <div class="col-12 col-md-6 mt-30">
                    <img src="{% static 'img/bg-img/home-1.jpg' %}" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mt-30">
                    <img src="{% static 'img/bg-img/home-2.jpg' %}" />
                </div>
                <div class=" col-12 col-md-6 mt-100">
                    <h1>Make Your Own Playlist</h1>
                    <hr class="my-4" style="border-top-width: 7px; border-color: #f82249;">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing nula 
                        pellentesquemagna a convallis nula facilisi. Praesent consequat 
                        eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis 
                        sapien dolor ipsum consequat ellit tristique senectus</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mt-100">
                    <h1>Watch in Ultra HD</h1>
                    <hr class="my-4" style="border-top-width: 7px; border-color: #f82249;">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing nula 
                        pellentesquemagna a convallis nula facilisi. Praesent consequat 
                        eget elementumconsectetur. Nullam interdum, quam ac sagittis facilisis 
                        sapien dolor ipsum consequat ellit tristique senectus</p>
                </div>
                <div class="col-12 col-md-6 mt-30">
                    <img src="{% static 'img/bg-img/home-3.jpg' %}" />
                </div>
            </div>
        </div>



        {%endblock%}
